.row {
  margin-left: 20px;
  color: #ffffff;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.poster__div {
  width: 200px;
  height: 250px;
  margin-right: 10px;
  transition: transform 450ms;
  position: relative;
  display: inline-block;
}

.poster__divLarge {
  max-height: 280px;
}

.row__poster {
  object-fit: cover;
  width: 180px;
  height: 250px;
  transition: transform 450ms;
  display: block;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  height: 100%;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}

.caption {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  background-color: #111111;
  text-align: center;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
}

.ratings {
  font-size: 0.8em;
  margin-left: 0.5em;
}
